@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import "utils/libs";
@import "utils/vars";
@import "utils/mixins";
@import "utils/fonts";
@import "utils/sprite";
@import "includes/style.scss";
//@include sprites($spritesheet-sprites);

html {
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 16px;
  height: 100%;
  background-color: $bg;
}

body {
  font-family: 'Roboto', Arial, sans-serif;
  height: 100%;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  background-color: inherit;
}

*,
*::before,
*::after { box-sizing: border-box; text-decoration: none; }

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select { font: inherit; }

audio,
canvas,
iframe,
img,
svg,
video,
textarea { vertical-align: middle; }

textarea { resize: none; }

section { position: relative; }

input,
select,
button { outline: none; }

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-x: hidden;
}

.content { flex: 1 0 auto; }

.container {
  margin: 0 auto;
  max-width: $content;
  width: 100%;
  padding: 0 15px;
}

a {
  transition:.3s;
  color:$black;

  &:hover {
    color:$blue;
    text-decoration: none;
  }
}

i {
  font-size: $iconSize;
}

button {
  &:focus {
    outline:none;
  }
}
.content__blocks {
  margin-bottom:$marginMedium;

  .row > div{
    padding-right:5px;

    &:last-child {
      padding-right:15px;
    }
  }
}
main {
  margin-top: $marginStandart
}

//Модули
@import "modules/modules";
