.popup
    .overlay
    .popup__wrapper
        .popup__close
            .popup__close-line
            .popup__close-line
        .popup__content
            .popup__title
                form.subscribe
                    i.far.fa-envelope
                    p.subscribe__title Новостная рассылка
                    input#email(type="email", name="email")
                    button.subscribe__submit(type="submit") Получать новости
                    p.subscribe__info Текст с информацией о рассылке