.popup
    .overlay
    .popup__wrapper
        .popup__close
            .popup__close-line
            .popup__close-line
        .popup__content
            .popup__title
                i.far.fa-envelope
                p.subscribe__title Новостная рассылка
            form.subscribe
                label.subscribe__label(for="email") 
                    span Ваш email
                    input#email(type="email", name="email" required)
                button.btn.subscribe__submit(type="submit") Получать новости
                p.subscribe__info Текст с информацией о рассылке