.poor-vision {
    color:$black;
    font-size:$base;
    margin-right:$marginStandart;
    
    i {
        margin-right:$marginSmall;
    }
    a {
        color:$black;
    }

    @include mobile {
        display: none;
    }
}