.sidebar__block
    .feedback__description
        .feedback__header Правила
        p 1. Обращения поступают на рассмотрение в Отдел по работе с обращениями граждан Правительства Калининградской области.
        br
        p 1. Обращения поступают на рассмотрение в Отдел по работе с обращениями граждан Правительства Калининградской области.
        br
        p 2. Обращения граждан регистрируются в трехдневный срок c момента поступления и рассматриваются в соответствии с Федеральным законом "О порядке рассмотрения обращений граждан Российской Федерации" 59-ФЗ.
        br
        p 3. Ответ на обращение направляется в форме электронного документа по адресу электронной почты или в письменной форме по почтовому адресу, указанному в обращении.
        br
        p 4. Размер электронного обращения не может превышать 5000 знаков.
        br
        p 5. Обращение может содержать вложенные документы и материалы в электронной форме в виде одного файла. Размер файла вложения не может превышать 10 Мб.
        br
        p 6. Информация о персональных данных авторов обращений хранится и обрабатывается с соблюдением требований законодательства РФ о персональных данных
        br
        p Выписка из Указа Губернатора Калининградской области от 09 января 2013 года № 3 «О мерах, направленных на обеспечение выполнения государственными гражданскими служащими Правительства Калининградской области, работниками и гражданами обязанностей, предусмотренных Федеральным законом от 27 июля 2006 года № 152-ФЗ «О персональных данных».
        br
        p <blue>Телефон для справок:</blue>
        p Информацию о ходе рассмотрения Ваших обращений можно получить по телефону:
        br
        p
            a(href="tel:+74012599078" class="tel") 8 (4012) 599-078
            