.sidebar__block
    .useful
        h3.useful__title Полезные ссылки
        ul.useful__list
            li.useful__item
                a.useful__link(href="#") social.gov39.ru
                p.useful__desc Министерство социальной политики КО
            li.useful__item
                a.useful__link(href="#") social.gov39.ru
                p.useful__desc Министерство социальной политики КО
            li.useful__item
                a.useful__link(href="#") social.gov39.ru
                p.useful__desc Министерство социальной политики КО
            li.useful__item
                a.useful__link(href="#") social.gov39.ru
                p.useful__desc Министерство строительства и жилищно-коммунального хозяйства КО
            li.useful__item
                a.useful__link(href="#") social.gov39.ru
                p.useful__desc Министерство социальной политики КО
            li.useful__item
                a.useful__link(href="#") social.gov39.ru
                p.useful__desc Министерство социальной политики КО
            li.useful__item
                a.useful__link(href="#") social.gov39.ru
                p.useful__desc Министерство строительства и жилищно-коммунального хозяйства КО
            li.useful__item
                a.useful__link(href="#") social.gov39.ru
                p.useful__desc Министерство регионального контроля (надзора) КО
            