.sidebar-menu
    ul.sidebar-menu__list
        li.sidebar-menu__item
            a.sidebar-menu__link(href="#") Символы
        li.sidebar-menu__item.sidebar-menu__item--active
            <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M14.6788 15.6687L1.4406 2.43053C1.19826 2.1882 1.19826 1.79197 1.44236 1.54787C1.68647 1.30377 2.08093 1.30553 2.32326 1.54787L15.5597 14.7843C15.8038 15.0284 15.802 15.4229 15.5597 15.6652C15.3174 15.9111 14.9229 15.9128 14.6788 15.6687Z" fill="#4141FF" stroke="#4141FF" stroke-width="0.7"/>
            <path d="M1.44245 15.667C1.19834 15.4229 1.20011 15.0284 1.44245 14.7861L14.6806 1.54787C14.9247 1.30377 15.3192 1.30553 15.5615 1.54787C15.8056 1.79197 15.8039 2.18643 15.5615 2.42876L2.32511 15.6652C2.08101 15.9128 1.68655 15.9111 1.44245 15.667Z" fill="#4141FF" stroke="#4141FF" stroke-width="0.7"/>
            </svg>
            a.sidebar-menu__link(href="#") Фотогалерея
            ul.sidebar-menu__submenu
                li.sidebar-menu__submenu-item
                    a.sidebar-menu__submenu-link.sidebar-menu__submenu-link--active(href="#") Виллы и дома
                li.sidebar-menu__submenu-item
                    a.sidebar-menu__submenu-link(href="#") Виллы и дома
                li.sidebar-menu__submenu-item
                    a.sidebar-menu__submenu-link(href="#") Виллы и дома
                li.sidebar-menu__submenu-item
                    a.sidebar-menu__submenu-link(href="#") Виллы и дома
        li.sidebar-menu__item
            a.sidebar-menu__link(href="#") Символы
        li.sidebar-menu__item
            a.sidebar-menu__link(href="#") Символы
        li.sidebar-menu__item
            a.sidebar-menu__link(href="#") Символы