.menu {
    width: 100%;
    transition:.3s;

    @include desktop {
        position: fixed;
        right:-1000px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        transition:right .3s;
    }

    &__submenu-icon {
        display:none;

        @include desktop {
            display:block!important;
        }
    }
}
.menu__list {
    display: flex;
    justify-content: space-evenly;

    @include  desktop {
        display: block;
        text-align: right;
    }
}

.menu__item {
    margin-right:$marginStandart;

    &:last-child {
        margin-right:0;
    }

    &:hover {
        .menu__link {
            color:$blue;
        }

        .menu__submenu-list{
            display: block;
            position: absolute;
            z-index: -1;
            padding: 30px;
            margin-left: -30px;
            background-color: white;
            padding-top: 50px;
            box-shadow: $shadow;
            z-index: 9999;
        }
    }
}

.menu__link {
    color:$black;
    transition:.3s;
    position: relative;

    &:after {
        content: '';
        position: absolute;
        top: -25px;
        left: -25px;
        right: -25px;
        bottom: -40px;
    }

}

.menu-mobile {
    display:none;

    &__close-m {
        display:none;

        @include desktop {
            display:block;
        }
    }

    @include desktop {
        display: flex;
        margin-left: auto;
        align-items: center;
    }
}

.menu__submenu-list {
    display: none;
}

.menu__submenu-link {
    display: block;
    padding: $marginStandart 0;
}

@include desktop {
    .menu__item {
        margin:0;
        padding:20px;
        font-size: 24px;
        &:hover {
            .menu__submenu-list{
                //display: none;
                position: relative;
                box-shadow: none;
                padding: 0;
                margin-left: 0;
            }
        }
    }

    .menu__submenu-list {
        display: block;
        height:0;
        overflow: hidden;
        transition: .3s;
        &:hover {
            display: block;
        }
    }

    .header-burger {
        width: 25px;
        height: 20px;
        margin-left:$marginSmall;
        position: relative;

        &-line {
            width: 100%;
            height: 3px;
            background-color: black;
            position: absolute;

            &:first-child {
                top:0;
            }
            &:nth-child(2) {
                top:50%;
                transform:translateY(-50%);
            }
            &:last-child {
                bottom:0;
            }
        }
    }

    .active .menu {
        position: fixed;
        width: 100%;
        height: 100%;
        left: auto;
        max-width:720px;
        top: 0;
        bottom: 0;
        right: 0;
        background-color: white;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        overflow-y: scroll;
        overflow-x: hidden;

        &__list {

        }

        &__item {


            &:hover {
                .menu__submenu-list{
                    //display: none;
                    position: relative;
                    box-shadow: none;

                }
            }
        }
    }

    .menu {
        top: 0;
        bottom: 0;
        width: 100%;
        background-color: white;
        span {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            transition: .3s;

            &:hover {
                i {
                    color:$blue;
                }

            }
        }

        .menu__submenu-icon {
            margin-left:15px;
            cursor:pointer;
            transform:rotate(90deg);
            transition:.3s;
        }

    }

    .menu__item--active {
        color: $blue;
        a {
            color:$blue;
        }
        i {
            color:$blue;
        }
        .menu__submenu-list a {
            color:  black;
        }
    }

    .menu-mobile__close-m {
        position: absolute;
        top: 20px;
        left: 20px;
        width: 40px;
        height: 40px;
        border: 2px solid $blue;
        border-radius: 50%;
        background-image: url("data:image/svg+xml,%3Csvg width='21' height='21' viewBox='0 0 21 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M18.3264 19.4443L1.55802 2.67594C1.25107 2.36898 1.25107 1.8671 1.56026 1.5579C1.86946 1.2487 2.36911 1.25094 2.67606 1.5579L19.4422 18.324C19.7514 18.6332 19.7492 19.1329 19.4422 19.4398C19.1353 19.7513 18.6356 19.7535 18.3264 19.4443Z' fill='white' stroke='white' stroke-width='0.7'/%3E%3Cpath d='M1.55994 19.4421C1.25075 19.1329 1.25299 18.6332 1.55994 18.3263L18.3283 1.5579C18.6375 1.2487 19.1372 1.25094 19.4441 1.5579C19.7533 1.8671 19.7511 2.36674 19.4441 2.6737L2.67798 19.4398C2.36879 19.7535 1.86914 19.7513 1.55994 19.4421Z' fill='white' stroke='white' stroke-width='0.7'/%3E%3C/svg%3E%0A");
        background-size: 55%;
        background-repeat: no-repeat;
        background-position: center;
    }
}


.header-nav__close-m-item {
    width: 80%;
    height: 2px;
    background-color: $blue;
    border-radius: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) rotate(45deg);
    -ms-transform: translate(-50%, -50%) rotate(45deg);
    transform: translate(-50%, -50%) rotate(45deg);
  
    &:last-child {
      transform: translate(-50%, -50%) rotate(-45deg);
    }
  }
  