extends layout/minor
include includes/indexSlider/index
include includes/indexNew/index
include includes/announces/index
include includes/banners/index
include includes/buttons/index

mixin newsItem()
	.gallery__item.col-lg-3
		a(href="#")
			img.gallery__image(src="/static/images/content/company-image1.png")
			

block variables
	-var title = 'Главная'

block content
	.container
		.row
			.left-sidebar.col-lg-3
				include modules/sidebar/sidebar.pug
			.page-content.col-lg-8
		
				.page-content__title
					h1 Галерея
				.gallery
					.gallery__list
						.row
							- var n=0
							while n<20
								- n++
								+newsItem()

				+navigation()

			.right-sidebar.col-lg-1


	
						
	



			

	