extends layout/minor
include includes/indexSlider/index
include includes/indexNew/index
include includes/announces/index
include includes/banners/index
include includes/buttons/index

mixin newsItem()
	.gallery__item.col-md-6.col-lg-3.col-xl-3
		a(class="fancybox" rel="gallery" href="/static/images/content/gallery-pic.jpg")
			img.gallery__image(src="/static/images/content/gallery-pic.jpg")
			

block variables
	-var title = 'Главная'

block content
	.container
		.row
			.left-sidebar.col-lg-3
				include modules/sidebar/sidebar.pug
			.page-content.col-lg-6
		
				.page-content__title
					h1 Город
				.page-content__wrapper
					p В режиме удаленной работы учреждений культуры Калининграда мы приобрели новых друзей, привлекли внимание горожан к нашим виртуальным мероприятиям: более 3 тысяч посещений сайтов наших учреждений, 20 тысяч посещений официальных сайтов, выдано 633 издания книг электронных книг и аудиокниг.
					p Мы можем предложить еще больше возможностей
					p Соприкоснуться с историей и искусством:
					p -виртуальный тур по музею «Фридландские ворота» http://fvmuseum.ru/virtual-tour/ . Здесь же видеоклипы, вход в Государственный каталог Российской Федерации музейных предметов, где представлены около 400 предметов из 3 тысяч нашей музейной коллекции.
					p - выставка икон «О,  Русь,  великая, могучая ,  православная!». Мастер Валентина Заколупина (ДК «Чкаловский») https://yadi.sk/i/mqqnMWADT-ryAA
					p - видеообзор готовящегося к открытию Музея книги и его коллекции книг авторов-путешественников http://www.kaliningradlib.ru/node/10862
					p https://m.facebook.com/kaliningradcbs/videos/207211604036634/?refsrc=https%3A%2F%2Fm.facebook.com%2F... https://m.vk.com/wall-32547811_3104
					p - выставка рисунков фронтового разведчика и художника С. И. Чуканова «Он воевал - он рисовал» (ДК «Чкаловский») https://vk.com/wall-188498500_44
					p Познакомиться:
					p - с народным творчеством в новом проекте ДК «Чкаловский» «Русские народные музыкальные инструменты и процессор эффектов BOSS LoopStation RC-300. (По-русски - круговой рекордер)»
			.right-sidebar.col-lg-3
				include modules/sidebar/links.pug

	
						
	



			

	