extends layout/minor
include includes/indexSlider/index
include includes/indexNew/index
include includes/announces/index
include includes/banners/index
include includes/buttons/index

block variables
	-var title = 'Главная'

block content
	.container
		.row
			content.index.col.col-lg-8
				.content__news
					.news-slider
						.news-slider__list
							+indexSlider()
							+indexSlider()
							+indexSlider()
							+indexSlider()

					.news-list
						.row
							+indexNew()
							+indexNew()
							+indexNew()
						.news-list__show-more
							.news-list__link-wrapper
								a(href="#").news-list__link Перейти в ленту

				.content__blocks
					.row
						.announces.col-md-6
							.announces__header Объявления
							.announces__list
								+announcesItem()
								+announcesItem()
								+announcesItem()
							.announces__load-more
								a(href="#").announces__link 
									span Развернуть
									i.fas.fa-angle-down
									
							.announces__show-more
								a(href="#").announces__link Перейти в раздел
						.announces.col-md-6
							.announces__header Анонсы
							.announces__list
								+announcesItem()
								+announcesItem()
								+announcesItem()
							.announces__show-more
								a(href="#").announces__link Перейти в раздел

				.content__banners
					.banners
						.banners__list
							.row
								+bannersItem()
								+bannersItem()
								+bannersItem()
								+bannersItem()
						.banners__slider
							.slides
								+bannersItemWithoutBootstrap()
								+bannersItemWithoutBootstrap()
								+bannersItemWithoutBootstrap()
								+bannersItemWithoutBootstrap()
								+bannersItemWithoutBootstrap()
								+bannersItemWithoutBootstrap()
								+bannersItemWithoutBootstrap()
								+bannersItemWithoutBootstrap()

			aside.sidebar.col-12.col-md-12.col-lg-4
				.sidebar__block
					.important
						h3.important__title Важное
						.important__list
							a(href="#").important__item 
								i.fas.fa-link
								span Для бизнеса/Инвестору
							a(href="#").important__item 
								i.fas.fa-link
								span Противодействие коррупции
							a(href="#").important__item
								i.fas.fa-link
								span Антитеррор
							a(href="#").important__item 
								i.fas.fa-link
								span Управление по делам ГО и ЧС
							a(href="#").important__item 
								i.fas.fa-link
								span Полезные ресурсы

				.sidebar__block
					.buttons
						.buttons__list
							+buttonsItem()
							+buttonsItem()
							+buttonsItem()
				
				.sidebar__block
					.buttons.buttons--small
						.buttons__list
							+buttonsItem()
							+buttonsItem()
							+buttonsItem()
							+buttonsItem()
							+buttonsItem()
							+buttonsItem()


	



			

	