extends layout/minor
include includes/indexSlider/index
include includes/indexNew/index
include includes/announces/index
include includes/banners/index
include includes/buttons/index

mixin newsItem()
	.news-pics__item.col-lg-4
		a(href="/news-detail.html")
			.news-pics__item-wrapper
				.news-pics__img
					img(src='/static/images/content/company-image2.png')
				.news-pics__content
					.news-pics__date 
						span.date 19 июля 2019,
						span.time 12:29
					.news-pics__title Антон Алиханов встретится с участниками «Балтийского Артека»
						span ...
					
mixin newsItemWithoutDesc()
	.news-pics__item
		a(href="/news-detail.html")
			.news-pics__item-wrapper
				.news-pics__img
					img(src='/static/images/content/company-image2.png')
				.news-pics__content
					.news-pics__date 
						span.date 19 июля 2019
						span.time 12:29
					.news-pics__title Антон Алиханов встретится с участниками «Балтийского Артека» 
						span ...

block variables
	-var title = 'Главная'

block content
	.container
		.row
			.left-sidebar.col-lg-1
			.page-content.col-lg-10
		
				.tabs
					ul.tabs__list
						li().tabs__item.tabs__item--active 
							a(href="/news.html") Новости
						li().tabs__item
							a(href="/announces.html") Анонсы
						li().tabs__item
							a(href="/announces.html") Объявления
				.news-pics
					.row
						.news-pics__important.col-lg-5
							h3 Главное
							- var n=0
							while n<4
								- n++
								+newsItemWithoutDesc()
						.news-pics__list.col-lg-7
							.row
								- var n=0
								while n<21
									- n++
									+newsItem()

				+navigation()

			.right-sidebar.col-lg-1


	
						
	



			

	