<svg width="21" height="11" viewBox="0 0 21 11" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M2.89707 5.02344C2.89707 3.31344 4.28707 1.92344 5.99707 1.92344H9.99707V0.0234375H5.99707C3.23707 0.0234375 0.99707 2.26344 0.99707 5.02344C0.99707 7.78344 3.23707 10.0234 5.99707 10.0234H9.99707V8.12344H5.99707C4.28707 8.12344 2.89707 6.73344 2.89707 5.02344ZM6.99707 6.02344H14.9971V4.02344H6.99707V6.02344ZM15.9971 0.0234375H11.9971V1.92344H15.9971C17.7071 1.92344 19.0971 3.31344 19.0971 5.02344C19.0971 6.73344 17.7071 8.12344 15.9971 8.12344H11.9971V10.0234H15.9971C18.7571 10.0234 20.9971 7.78344 20.9971 5.02344C20.9971 2.26344 18.7571 0.0234375 15.9971 0.0234375Z" fill="#FAFAFA"/>
</svg>
