<svg width="34" height="34" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M17.0002 0.333313C7.80016 0.333313 0.333496 7.79998 0.333496 17C0.333496 26.2 7.80016 33.6666 17.0002 33.6666C26.2002 33.6666 33.6668 26.2 33.6668 17C33.6668 7.79998 26.2002 0.333313 17.0002 0.333313ZM18.6668 25.3333H15.3335V15.3333H18.6668V25.3333ZM18.6668 12H15.3335V8.66665H18.6668V12Z" fill="#0D47A1"/>
</svg>
