// Paths
$assetPath: "/static/images";

// Colors
$white: #fff;
$black: #000;

$bg: #F9F9F9;
$lightgray: #ccc;
$gray300: #E0E0E0;
$gray400: #BDBDBD;
$gray500: #9E9E9E;
$mediumgray: #8F8F8F;
$darkgray: #292727;
$blue: #4141FF;
$gradient: linear-gradient(to right, $blue, #A5A5FF);


// Sizes
$small: 14px;
$base: 16px;
$medium: 20px;
$iconSize:22px;
//margins 
$marginSmall: 15px;
$marginStandart: 20px;
$marginMedium: 40px;
//paddings:
$smallPadding: 10px;
$smallPaddingV: 0 10px;
$smallPaddingH: 10px 0;
$standartPadding: 15px;
$standartPaddingV: 0 15px;
$standartPaddingH: 15px 0;

$mobile: 480px;
$tablet: 768px;
$desktop: 1024px;
$desktopHd: 1280px;

$content: 1600px;

// Fonts
$montserrat: 'Montserrat', sans-serif;

// Shadow
$shadow: 0px 2px 4px rgba(208, 208, 223, 0.5);

