mixin indexNew()
    .news-list__item.col-12.col-sm-6.col-md-6.col-lg-3
        .news-list__wrapper
            .news-list__pic
                img(src='../static/images/content/company-image1.png')
            .news-list__content
                .news-list__date 
                    span.news-list__date-date 31.03.2020
                    span.news-list__date-time 11:58
                .news-list__title Уважаемые калининградцы! Для вас – телефоны горячих линий
