.banners {
    margin-bottom:$marginMedium;
    padding: 0 60px;
    position: relative;

    &__list {
        display: flex;
        margin-bottom:$marginStandart;
    }

    &__item {
        padding-right:5px;

        &:last-child {
            padding-right:15px;
        }
    }

    &__content {
        background-color:$white;
        padding:$marginStandart;
    }

    &__title {
        padding:$marginStandart;
        text-align: center;
    }

    &__link {
        text-transform: uppercase;
        text-align: center;
        font-weight: 600;
        display: block;
        color: $blue;
    }

    &__items {
        //position: relative;
    }

    &__slider {
        //display: flex;
        overflow: hidden;

        .banners__item {
            //padding-right: 10px;
            //padding-left: 10px;
            //width:25%;

            &:nth-child(4n) {
                //padding-right: 0px;
            }
            &:nth-child(4n+1) {
                //padding-left: 20px;
            }
            &:first-child {
                //padding-right: 20px;
                //padding-left: 0;
            }
        }
    }

    &__arrows {

        &-prev {
            position: absolute;
            left: 0;
            border: 0;
            background-color: transparent;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            font-size: 0;
            width: 30px;
            height: 30px;
            transform: rotate(180deg);
            background-image: url("data:image/svg+xml,%3Csvg width='10' height='19' viewBox='0 0 10 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.50666 18C1.37737 18 1.24808 17.949 1.15111 17.8436C0.95394 17.6362 0.95394 17.2996 1.15111 17.0922L8.36875 9.49958L1.14788 1.907C0.950708 1.69959 0.950708 1.36297 1.14788 1.15556C1.34504 0.948147 1.66504 0.948147 1.86221 1.15556L9.43863 9.12556C9.63579 9.33297 9.63579 9.66958 9.43863 9.87699L1.86221 17.8436C1.76524 17.949 1.63595 18 1.50666 18Z' fill='%234141FF' stroke='%234141FF' stroke-width='0.5'/%3E%3C/svg%3E");
            top: 50%;
            transform: translateY(-50%) rotate(180deg);
        }

        &-next {
            position: absolute;
            right: 0;
            border: 0;
            background-color: transparent;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            font-size: 0;
            width: 30px;
            height: 30px;
            background-image: url("data:image/svg+xml,%3Csvg width='10' height='19' viewBox='0 0 10 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.50666 18C1.37737 18 1.24808 17.949 1.15111 17.8436C0.95394 17.6362 0.95394 17.2996 1.15111 17.0922L8.36875 9.49958L1.14788 1.907C0.950708 1.69959 0.950708 1.36297 1.14788 1.15556C1.34504 0.948147 1.66504 0.948147 1.86221 1.15556L9.43863 9.12556C9.63579 9.33297 9.63579 9.66958 9.43863 9.87699L1.86221 17.8436C1.76524 17.949 1.63595 18 1.50666 18Z' fill='%234141FF' stroke='%234141FF' stroke-width='0.5'/%3E%3C/svg%3E");
            top: 50%;
            transform: translateY(-50%);
        }
    }
}