.logo {
    grid-area: logo;
    display: flex;
    align-items: center;

    @include desktop {
        min-width: 60px;
    }

    a {
        display: flex;

        @include desktop {
            min-width: 60px;
        }
    }
    img {
        width: 100%;
        height: auto;
        object-fit: contain;
        max-width:50px;
    }
    span {
        margin-left:$marginSmall;
        font-size:$small;
        color: black;
        display: flex;
        align-items: center;

        @include desktopHd {
            display: none;
        }
    }

    
}