.news {
    a {
        color:$black;
        &:hover {
            color:$black;
        }
    }

    &__item {    
        padding: 20px 79px;
        margin-bottom: 10px;
        background-color:$white;  
        box-shadow: $shadow;  
    }

    &__date {
        margin-bottom: $marginStandart;
        font-size: $small;
        color: $mediumgray;

        span {
            font-size: inherit;
            color: inherit;
        }
    }

    &__title {
        margin-bottom: $marginStandart;
    }

    &__desc {
        font-weight: 300;
        margin-bottom: $marginStandart;
    }

    &__continue {
        font-size: 28px;
        line-height: 0;
        font-weight: 500;
        color: $blue;
    }
}

.news-nav {
    &__load-more {
        .news-nav__link {
            display: flex;
            padding: 10px 20px;
            text-align: center;
            color: $blue;
            margin-bottom: -$marginStandart;
            margin-top: $marginStandart;
            border: 1px solid $blue;
            align-items: center;
            justify-content: center;
            
            &:hover {
                text-decoration: none;
            }

            i {
                margin-top:-5px;
                margin-left:$marginSmall;
                width: 20px;
                height: 20px;

                svg {
                    width: 20px;
                    height: 20px;
                    transform: rotate(90deg);
                }
            }
        }
    }
}

.navigation {
    max-width:520px;
    margin:50px auto;
}