.translation {
    margin-bottom:40px;
}
.translation__popup{
    position:fixed;
    opacity:0;
    transition: opacity .3s;
    z-index: -9999;
}
.translation__popup-wrapper {
    max-width: 700px;
    background-color: white;
    padding: 30px;
    margin:auto;
    box-shadow: 0px 2px 50px rgba(208, 208, 223, 0.5);
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}


.translation__popup-title {
    font-size:20px;
    margin-bottom:10px;
}
.translation__popup-desc {
    color:$blue;
    font-weight:300;
}
.translation__popup-text p {
    margin-bottom:20px;
    font-weight: 300;
}

.translation__popup-close {
    color: white;
    width: 35px;
    height: 35px;
    position: absolute;
    bottom: 100%;
    left: 100%;
    border: 2px solid #fff;
    border-radius: 50%;
    cursor: pointer;
}
.translation__popup-close-line {
    width: 80%;
    height: 2px;
    background-color: #fff;
    border-radius: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) rotate(45deg);
    -ms-transform: translate(-50%, -50%) rotate(45deg);
    transform: translate(-50%, -50%) rotate(45deg);
}
.translation__popup-close-line:last-child {
    -webkit-transform: translate(-50%, -50%) rotate(-45deg);
    -ms-transform: translate(-50%, -50%) rotate(-45deg);
    transform: translate(-50%, -50%) rotate(-45deg);
}

.translation__popup.active {
    z-index: 9999;
    background-color: #00000078;
    opacity:1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}