.useful {
    margin-bottom: 40px;

    &__title {
        font-size: 20px;
        margin-bottom: 20px;
        text-align: center;
    }

    &__list {
        padding: 30px;
        background-color: white;
        border: 1px solid $blue;
        overflow-y: scroll;

    }

    &__item {
        padding-left:40px;
        position: relative;
        margin-bottom: 20px;

        &:last-child {
            margin-bottom: 0px;
        }
    }

    &__item:before {
        position: absolute;
        left: 0px;
        top: 3px;
        height: 20px;
        width: 20px;
        display: block;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        content: "";
        background-image: url("data:image/svg+xml,%3Csvg width='10' height='19' viewBox='0 0 10 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.50666 18C1.37737 18 1.24808 17.949 1.15111 17.8436C0.95394 17.6362 0.95394 17.2996 1.15111 17.0922L8.36875 9.49958L1.14788 1.907C0.950708 1.69959 0.950708 1.36297 1.14788 1.15556C1.34504 0.948147 1.66504 0.948147 1.86221 1.15556L9.43863 9.12556C9.63579 9.33297 9.63579 9.66958 9.43863 9.87699L1.86221 17.8436C1.76524 17.949 1.63595 18 1.50666 18Z' fill='%234141FF' stroke='%234141FF' stroke-width='0.5'/%3E%3C/svg%3E");
    }

    &__link {
        color:$blue;   
    }

    &__desc {
        font-size:15px;
        font-weight:300;
    }
}

.useful__list {overflow-y: scroll; height: 100%; max-height:600px;}
.useful__list::-webkit-scrollbar-track {border-radius: 4px;}
.useful__list::-webkit-scrollbar {width: 10px;}
.useful__list::-webkit-scrollbar-thumb {border-radius: 4px;background: #f0f2f5;}
.useful__list:hover::-webkit-scrollbar-thumb {background: rgba(208, 208, 223, 0.15);}