.header {
    &__wrapper {
        display:flex;
    }
    &__top {
        padding: 20px 0;
    }
    &__left {
        display:flex;
        flex: 1;
    }
    &__right {
        display:flex;
        flex: 1;
    }
}