.header {
    z-index: 9999;
    
    &__wrapper {
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-gap: $marginStandart;
        grid-template-areas: "logo logo menu menu menu menu menu menu right";
        position: relative;
        

        &--no-grid{
            display:flex;
        }

        @include desktopHd {
            grid-template-areas: "logo menu menu menu menu menu menu menu right";
        }

        @include desktop {
            flex-direction: column;
        }
    } 
    &__top {
        padding: 20px 0;
    }
    &__left {
        display:flex;
        flex: 1;

        @include desktopHd {
            max-width: 20%;
        }

        @include desktop {
            display:none;
        }
    }
    &__right {
        display:flex;
        flex: 1;
        justify-content: flex-end;

        @include mobile {
            flex-direction: column;
        }
    }
    &__nav {
        grid-area: menu;
    }
    &__block {
        grid-area: right;
    } 
    &__nav {
        display:flex;
        align-items: center;
    }
    &__bottom {
        box-shadow:$shadow;
        background-color: $white;
        padding:10px 0;
    }
    &__block {
        display:flex;
    }

    &__search {
        display:flex;
        align-items: center;
    }

    &__login {
        display:flex;
        align-items: center;
    }
}


