mixin announcesItem()
    .announces__item
        a(href="/announces-detail.html")
            .announces__date
                .announces__date-date 02.09.2020
                .announces__date-time 11:11
            .announces__title Извещение о размещении проекта отчета № 03/01-2020 ВФ-ЛФ-ЗООТ-3СН