mixin indexSlider()
    .news-slider__item
        .news-slider__img
            img(src='../static/images/content/company-image2.png')
        .news-slider__content
            .news-slider__date 
                span.news-slider__date-date 31.03.2020
                span.news-slider__date-time 11:58
            .news-slider__title Уважаемые калининградцы! Для вас – телефоны горячих линий
            .news-slider__desc Администрация округа согласовала навес над входной группой дома №23 на Курортном проспекте.