.breadcrumbs
    .container
        .row
            .breadcrumbs-container.col-lg-6
                .breadcrumbs__list
                    a.breadcrumbs__item(href="/")
                        span Главная
                    span.breadcrumbs__item Пресс-центр
