footer.footer
    .container
        .footer__left
            a.footer__logo(href="/")
                img(src= imgroot + "common/logo.png" alt="")
            p © 2020 Официальный сайт муниципального образования «Зеленоградский городской округ» Калининградской области
        .footer__center
            p Телефон +7 4015 0 313 62
            p Факс +7 4012 463 639
            p Дежурный ЕДДС: 8 800 200 36 75 (звонок бесплатный)
        .footer__right
            p info@admzelenogradsk.ru (для официальной переписки) 
            p post@admzelenogradsk.ru (для приема обращений)

        